name: CI/CD
on: [push]
jobs:
  run-test:
    name: run-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v1
      - run: bun install
      - run: bun test